<!DOCTYPE html>
<html>
    
    <head> 
    
        <link rel="stylesheet" href= {{ url_for('static',filename='style.css') }} />
        
        <title> <h1> Milestone Dos </h1></title>
    
    </head>
    
    <body>
        
        
        <h6>Food: {{ chosenOne }}</h6>
        <h6>Tweet: {{ text }}</h6>
        <h6>Date of Tweet: {{ date }}</h6>
        <h6> <a href= {{ linkToRecipe }} > Click This To Get Recipe </a></h6>
        <h6>Recipe Link <a>{{ linkToRecipe }}</a></h6>
        <img src={{ imageLink }} />
        <h12> There's A Secret Message in This Website Try to Find It !</h12>
        
        
        
        
    </body>
    
    
    
    
    
    
    
    
    
</html>